.footer {
  position: fixed;
  bottom: 0; /* para fixar o footer na parte de baixo */

  display: flex;
  justify-content: flex-end;
}

.footer > span {
  font-weight: 300;
  font-size: 1.1rem;
}

.footer i {
    color: red
}
